<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<%- include('partials/navbar') %>
<div class="container-fluid mt-5">
    <h1>Tableau de bord</h1>
    <button class="btn btn-primary mb-3" id="createSheet">Créer une nouvelle feuille</button>
    <ul class="list-group" id="sheetsList">
        <% if (sheets && sheets.length > 0) { %>
            <% sheets.forEach(sheet => { %>
                <li class="list-group-item d-flex justify-content-between align-items-center sheet-item" data-id="<%= sheet._id %>">
                    <button class="btn btn-link mr-3 sheet-name" data-id="<%= sheet._id %>"><%= sheet.name %></button>
                    <div>
                        <button class="btn btn-warning editSheet">Editer</button>
                        <button class="btn btn-primary shareSheet">Partager</button>
                        <button class="btn btn-danger deleteSheet">Supprimer</button>
                    </div>
                </li>
            <% }) %>
        <% } else { %>
            <li class="list-group-item">Aucune feuille disponible</li>
        <% } %>
    </ul>
</div>


<!-- Modal for editing sheet name -->
<div class="modal fade" id="editSheetModal" tabindex="-1" role="dialog" aria-labelledby="editSheetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSheetModalLabel">Modifier le nom de la feuille</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="newSheetName" placeholder="Nouveau nom de la feuille">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" id="saveSheetName">Enregistrer</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for add collaborator to the sheet  -->
<div class="modal fade" id="shareSheetModal" tabindex="-1" role="dialog" aria-labelledby="shareSheetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shareSheetModalLabel">Partager la feuille</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="email" class="form-control" id="collaboratorName" placeholder="Nom du collaborateur">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" id="addCollaborator">Ajouter</button>
            </div>
        </div>
    </div>




<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    document.getElementById('createSheet').addEventListener('click', () => {
        fetch('/sheet', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({sheet_name: 'Nouvelle Feuille', data: []})
        }).then(() => location.reload());
    });

    document.querySelectorAll('.sheet-item').forEach(item => {
        item.addEventListener('click', (event) => {
            const sheetId = event.currentTarget.getAttribute('data-id');
            window.location.href = `/sheet/${sheetId}`;
        });
    });

    document.querySelector('.shareSheet').addEventListener('click', (event) => {
        event.stopPropagation();
        const sheetItem = event.currentTarget.closest('.sheet-item');
        const sheetId = sheetItem.getAttribute('data-id');

        $('#shareSheetModal').modal('show');
        
        document.getElementById('addCollaborator').onclick = () => {
            const collaboratorName = document.getElementById('collaboratorName').value;

            fetch(`/sheet/${sheetId}/collaborator`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({collaboratorName: collaboratorName})
            }).then(response => {
                if (response.ok) {
                    $('#shareSheetModal').modal('hide');
                    location.reload();
                } else {
                    console.error('Erreur lors de l\'ajout du collaborateur');
                }
            });
        };

    });


    document.querySelectorAll('.deleteSheet').forEach(button => {
        button.addEventListener('click', (event) => {
            event.stopPropagation();
            const sheetItem = event.currentTarget.closest('.sheet-item');
            const sheetId = sheetItem.getAttribute('data-id');

            fetch(`/sheet/${sheetId}`, {
                method: 'DELETE'
            }).then(response => {
                if (response.ok) {
                    sheetItem.remove();
                    console.log('Feuille supprimée');
                    location.reload();
                } else {
                    console.error('Erreur lors de la suppression de la feuille');
                }
            });
        });
    });

    document.querySelectorAll('.editSheet').forEach(button => {
        button.addEventListener('click', (event) => {
            event.stopPropagation();
            const sheetItem = event.currentTarget.closest('.sheet-item');
            const sheetId = sheetItem.getAttribute('data-id');
            const sheetName = sheetItem.querySelector('.sheet-name').innerText;

            document.getElementById('newSheetName').value = sheetName;
            $('#editSheetModal').modal('show');

            document.getElementById('saveSheetName').onclick = () => {
                const newSheetName = document.getElementById('newSheetName').value;

                fetch(`/sheet/${sheetId}/name`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({name: newSheetName})
                }).then(response => {
                    if (response.ok) {
                        $('#editSheetModal').modal('hide');
                        location.reload();
                    } else {
                        console.error('Erreur lors de la modification du nom de la feuille');
                    }
                });
            };
        });
    });
</script>