<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableur Collaboratif</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<%- include('partials/navbar') %>
<div class="container mt-5">
    <% if (authenticated) { %>
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue, <%= user %>!</h1>
            <p class="lead">Vous êtes connecté à votre tableur collaboratif.</p>
            <hr class="my-4">
            <p>Accédez à vos feuilles de calcul en temps réel et collaborez avec d'autres utilisateurs instantanément.</p>
            <a class="btn btn-primary btn-lg" href="/dashboard" role="button">Accéder à mes feuilles</a>
        </div>
    <% } else { %>
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue dans notre tableur collaboratif</h1>
            <p class="lead">Collaborez en temps réel avec plusieurs utilisateurs sur des feuilles de calcul partagées.</p>
            <hr class="my-4">
            <p>Veuillez vous inscrire ou vous connecter pour accéder à vos projets.</p>
            <a class="btn btn-primary btn-lg" href="/login" role="button">Se connecter</a>
            <a class="btn btn-secondary btn-lg" href="/signup" role="button">S'inscrire</a>
        </div>
    <% } %>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
