<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription Réussie</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <h2>Inscription Réussie</h2>
    <p>Vous serez redirigé vers la page d'accueil dans 3 secondes...</p>
</div>
<script>
    setTimeout(() => {
        window.location.href = '/';
    }, 3000);
</script>
</body>
</html>